body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
}

h1 {
  font-size: 5rem;
}

footer {
  text-align: right;
  color: midnightblue;
}

#creative
{
  color: blueviolet;
}

.left
{
  float: left;
  text-align: justify;
  object-fit: cover;
  width:45%;


}

.right
{
  text-align: justify;
  width:45%;
  bottom:20%;
  vertical-align: top;
  float: right;
  object-fit: cover;
}

.tile-image
{
  height: 200px;
  width: 300px;
  float: left;
  margin-right: 50px;
}

@media(max-width: 680px)
{
  body
  {
    background-color: red;
  }

  .tile-image
  {
    width: 500px;
    height: 300px;
    float: none;
    display: block;

  }

  .left
  {
    display: block;
    float: none;
  }

  .right
  {
    display: block;
    float: none;
  }

  .logo
  {
    width: 100px;
    height: 20px;
  }

  .main > h1
  {
    font-size: 30px;  
  }
}

.card
{
  display:block;
}

.card img
{
  display: inline;
  object-fit: cover;
}

