body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
}

h1 {
  font-size: 5rem;
}

footer {
  text-align: right;
  color: midnightblue;
}

#creative
{
  color: blueviolet;
}

.left
{
  position: relative;
  text-align: justify;
  object-fit: cover;
  width:50%;


}

.right
{
  text-align: justify;
  object-fit: cover;
  width:50%;
  bottom:20%;
  vertical-align: top;
  margin-left:60%;
  bottom: 60%;
}

.tile-image
{
  height: 200px;
  width: 300px;
  float: left;
  margin-right: 50px;
}

